.title-container h1{
    margin-left: 20px;
}
.ptw-container{
    width: 100%;
    margin-top: 20px;
    border-bottom: solid 1px;
}
h2{
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-left: 20px;
    margin-top: 35px;
    text-align: center;
    letter-spacing: 2px;
}
.ptw-container ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: decimal;
    margin: 30px 0px;
}
.guide-content{
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
}
.chosen-image{
    text-align: center;
    margin-right: 100px;
}
.chosen-summary{
    width: 30%;
}
.keymoveForm{
    text-align: right;
    width: 100%;
    margin-top: 30px;
}
.keymoveForm legend, .keymoveForm button{
    text-align: center;
}
.keymoveForm input{
    font-size: 0.8rem;
    width: 30px;
}
.formInputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
tr td:last-child{
    padding: 12px 15px 12px 0px;
}
tr td img {
    width: 35px;
    cursor: pointer;
    
}
#editIcon{
    margin-right: 15px;
}
.tables{
    font-size: 1.2rem;
    margin: 100px 0px;
}
table{
    border-collapse: collapse;
    font-size: 0.9em;
    width: 100%;
    
}
table caption{
    font-size: 2.0rem;
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
}
table tr:last-child, table tr:first-child {
    border-radius: 15px;
}
th, td{
    padding: 12px 15px;
    text-align: center;
}
table tfoot tr:last-child{
    background-color:#0D1B24;
    color: white;
}
table tfoot tr:last-child td{
    font-weight: bold;
    font-size: 1.4rem;
}
th{
    white-space: nowrap;
}
tbody tr{
    border-bottom: 1px solid #dddddd;

}
tbody tr:last-of-type{
    border-bottom: 2px solid rgb(37, 37, 70);
}
.tabs th {
    text-align: center;
    width: 50%;
    font-size: 1.4rem;
    color: white;
    background-color:#0D1B24;
    cursor: pointer;
}