*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Sans-Serif';
}
.overlay{
  animation: overlayanimation 0.3s;
  animation-fill-mode: forwards;
  width:      100%;
  height:     100%; 
  z-index:    1;
  top:        0; 
  left:       0;
  pointer-events: none;
}
.notshown{
  display: none;
}
.alert{
  position: fixed;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 350px;
  top: 5%;
  right: 5%;
  align-items: center;
  background-color: rgb(152, 243, 152);
  opacity: 0;
  animation: alertinout 6s;
}
@keyframes alertinout {
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.alert p{
  margin-left: 20px;
}
@keyframes overlayanimation {
  0%{
    background-color: rgba(0, 0, 0, 0.0);
  }
  100%{
    background-color: rgba(0, 0, 0, 0.5);
  }
}

